In [1]:
# import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

pd.set_option("display.max_columns", 999)
pd.get_option("display.max_columns")

pd.set_option("display.max_rows", 999)
pd.get_option("display.max_rows")

999

In [2]:
previous_application=pd.read_csv("previous_application_group_overall.csv")

In [3]:
previous_application.head()

,SK_ID_CURR,total_loans_applied,total_loan_approved,total_loan_rejected,nbr_cash_loans,nbr_consumer_loans,nbr_revolving_loans,nbr_live_loans,nbr_closed_loans,nbr_loan_with_downpayment,avg_percentage_downpayment,nbr_loan_rejection_HC,nbr_loan_rejection_LIMIT,nbr_loan_rejection_SCO,nbr_loan_cross_sell,nbr_loan_walkin,nbr_loan_channel_cc_office,nbr_loan_channel_cntry_wide,nbr_loan_channel_stone_regional,nbr_loan_high_yeild,nbr_loan_meddle_yeild,nbr_loan_low_yeild,nbr_loan_POS_with_interset,nbr_loan_POS_without_interset,NFLAG_INSURED_ON_APPROVAL,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD_POS,SK_DPD_DEF_POS,NBR_OF_DPD,NBR_OF_DPD_DEF,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF,cnt_on_time_payment,cnt_on_delay_payment,cnt_partial_payment,cnt_full_payment,AMT_ANNUITY_LIVE,AMT_APPLICATION_LIVE,AMT_CREDIT_LIVE,AMT_GOODS_PRICE_LIVE,AMT_BALANCE_LIVE,AMT_CREDIT_LIMIT_ACTUAL_LIVE,AMT_DRAWINGS_ATM_CURRENT_LIVE,AMT_DRAWINGS_CURRENT_LIVE,AMT_DRAWINGS_OTHER_CURRENT_LIVE,AMT_DRAWINGS_POS_CURRENT_LIVE,AMT_INST_MIN_REGULARITY_LIVE,AMT_RECEIVABLE_PRINCIPAL_LIVE,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,AVG_INSTALLMENT_AMOUNT
0,271877,3,2,1,0,3,0,0,3,1,0.101325,0,0,1,0,0,0,1,2,2,0,1,3,0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,6.0,27468.825000,641848.500000,630571.500,641848.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21081.262500
1,108129,6,6,0,2,3,1,1,6,1,0.556485,0,0,0,3,0,0,0,5,0,1,4,3,0,2.0,63.0,32.0,0.0,0.0,0.0,0.0,18.0,19.0,0.0,1.0,0.0,0.0,61.0,1.0,0.0,62.0,13039.485000,201525.750000,257522.250,241830.900000,0.000,0.0,0.0,40.005,0.0,0.0,0.00,0.00,14996.948226,137903.225806,12326.086957,9184.992097,0.000000,51.945652,1518.872143,15371.262857,9456.458226,14305.061613,14548.675645,23136.942125
2,122040,4,3,1,2,1,1,2,4,1,0.104691,0,0,0,2,0,2,0,2,0,2,0,1,0,2.0,17.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,97.0,1.0,0.0,98.0,9623.115000,66690.000000,72696.375,88920.000000,0.000,45000.0,0.0,0.000,0.0,0.0,0.00,0.00,10685.238038,82025.316456,0.000000,1090.424051,1090.424051,0.000000,971.622115,2174.031456,1530.968354,10255.441329,10597.750633,11450.143036
3,176158,23,6,17,22,1,0,0,23,1,0.108955,14,0,1,16,4,11,11,1,12,7,2,0,1,5.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.0,9.0,0.0,67.0,28022.556429,259704.997826,272578.500,284438.807143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44824.205839
4,202054,25,8,17,18,6,1,3,25,3,0.086904,11,0,2,7,4,14,1,9,6,8,2,6,0,3.0,56.0,12.0,0.0,0.0,1.0,1.0,11.0,52.0,0.0,41.0,0.0,0.0,53.0,14.0,0.0,67.0,21187.627941,179037.720000,208061.640,263290.764706,119493.675,112500.0,0.0,405.000,0.0,405.0,6328.98,108912.78,101208.388500,101250.000000,8280.000000,11736.103500,0.000000,3456.103500,4361.850000,5861.300000,367.753500,88407.229500,98558.923500,102247.038549

In [4]:
previous_application.shape

(338682, 65)

In [5]:
#application Train
application = pd.read_csv('application_train.csv')
application.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
application.shape

(307511, 122)

In [7]:
# Bureau Group
bureau_data = pd.read_csv("Bureau_group.csv")

In [8]:
bureau_data.head()

,SK_ID_CURR,total_loan,nbr_closed_sum,nbr_active_sum,nbr_sold_sum,nbr_bad_debt,consumer_loan,credit_card,car_loan,mortgage_loan,micro_loan,business_loan,other_loan_count,max_credit_prolong,min_credit_prolong,avg_credit_prolong,max_loan_tenure,min_loan_tenure,avg_loan_tenure,closed_before_maturity,distinct_loan_payment_default,max_loan_payment_default_days
0,215354,11,5,6,0,0,7,3,1,0,0,0,0,0,0,0.0,27733.0,122.0,3465.600000,2,0,0.0
1,162297,6,3,3,0,0,3,2,0,1,0,0,0,0,0,0.0,5538.0,212.0,1590.000000,3,0,0.0
2,402440,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0.0,365.0,365.0,365.000000,0,0,0.0
3,238881,8,5,3,0,0,5,3,0,0,0,0,0,0,0,0.0,1815.0,131.0,569.666667,0,0,0.0
4,222183,8,3,5,0,0,4,3,1,0,0,0,0,0,0,0.0,1827.0,183.0,1286.750000,1,0,0.0

In [9]:
bureau_data.shape

(305811, 22)

In [10]:
application[application["SK_ID_CURR"]== 271877]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
148238,271877,0,Cash loans,F,N,Y,1,225000.0,533668.5,25803.0,477000.0,Unaccompanied,State servant,Incomplete higher,Married,House / apartment,0.04622,-14443,-7392,-8447.0,-4120,NaN,1,1,0,1,1,0,NaN,3.0,1,1,TUESDAY,17,0,1,1,0,0,0,Military,NaN,0.683797,NaN,0.0557,0.0249,0.9821,0.7552,0.0736,0.04,0.0345,0.3333,0.375,0.0117,0.0454,0.0456,0.0,0.0202,0.0567,0.0258,0.9821,0.7648,0.0743,0.0403,0.0345,0.3333,0.375,0.012,0.0496,0.0475,0.0,0.0214,0.0562,0.0249,0.9821,0.7585,0.0741,0.04,0.0345,0.3333,0.375,0.0119,0.0462,0.0464,0.0,0.0207,reg oper account,block of flats,0.0403,"Stone, brick",No,3.0,0.0,3.0,0.0,-548.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
bureau_data[bureau_data["SK_ID_CURR"]== 271877]

,SK_ID_CURR,total_loan,nbr_closed_sum,nbr_active_sum,nbr_sold_sum,nbr_bad_debt,consumer_loan,credit_card,car_loan,mortgage_loan,micro_loan,business_loan,other_loan_count,max_credit_prolong,min_credit_prolong,avg_credit_prolong,max_loan_tenure,min_loan_tenure,avg_loan_tenure,closed_before_maturity,distinct_loan_payment_default,max_loan_payment_default_days
187232,271877,4,2,2,0,0,2,2,0,0,0,0,0,0,0,0.0,1781.0,304.0,1134.25,2,0,0.0

In [12]:
previous_application[previous_application["SK_ID_CURR"]== 271877]

,SK_ID_CURR,total_loans_applied,total_loan_approved,total_loan_rejected,nbr_cash_loans,nbr_consumer_loans,nbr_revolving_loans,nbr_live_loans,nbr_closed_loans,nbr_loan_with_downpayment,avg_percentage_downpayment,nbr_loan_rejection_HC,nbr_loan_rejection_LIMIT,nbr_loan_rejection_SCO,nbr_loan_cross_sell,nbr_loan_walkin,nbr_loan_channel_cc_office,nbr_loan_channel_cntry_wide,nbr_loan_channel_stone_regional,nbr_loan_high_yeild,nbr_loan_meddle_yeild,nbr_loan_low_yeild,nbr_loan_POS_with_interset,nbr_loan_POS_without_interset,NFLAG_INSURED_ON_APPROVAL,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD_POS,SK_DPD_DEF_POS,NBR_OF_DPD,NBR_OF_DPD_DEF,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF,cnt_on_time_payment,cnt_on_delay_payment,cnt_partial_payment,cnt_full_payment,AMT_ANNUITY_LIVE,AMT_APPLICATION_LIVE,AMT_CREDIT_LIVE,AMT_GOODS_PRICE_LIVE,AMT_BALANCE_LIVE,AMT_CREDIT_LIMIT_ACTUAL_LIVE,AMT_DRAWINGS_ATM_CURRENT_LIVE,AMT_DRAWINGS_CURRENT_LIVE,AMT_DRAWINGS_OTHER_CURRENT_LIVE,AMT_DRAWINGS_POS_CURRENT_LIVE,AMT_INST_MIN_REGULARITY_LIVE,AMT_RECEIVABLE_PRINCIPAL_LIVE,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,AVG_INSTALLMENT_AMOUNT
0,271877,3,2,1,0,3,0,0,3,1,0.101325,0,0,1,0,0,0,1,2,2,0,1,3,0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,6.0,27468.825,641848.5,630571.5,641848.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21081.2625

In [23]:
application = application.drop(["EXT_SOURCE_1", "EXT_SOURCE_2",'EXT_SOURCE_3'],axis=1)

In [17]:
# Merge 3 data 

# Target Variable mapping
target_variable = application[["SK_ID_CURR", "TARGET"]]

In [18]:
target_variable.head()

   SK_ID_CURR  TARGET
0      100002       1
1      100003       0
2      100004       0
3      100006       0
4      100007       0

In [15]:
#Merge with Bureau data

credit_Bureau_Modelling_Data = pd.merge(target_variable, bureau_data)

In [16]:
credit_Bureau_Modelling_Data.shape

(263491, 26)

In [19]:
Behavioural_Modelling_Data = pd.merge(target_variable, previous_application)

In [20]:
Behavioural_Modelling_Data.shape

(290910, 66)

In [21]:
Behavioural_Modelling_Data.head()

,SK_ID_CURR,TARGET,total_loans_applied,total_loan_approved,total_loan_rejected,nbr_cash_loans,nbr_consumer_loans,nbr_revolving_loans,nbr_live_loans,nbr_closed_loans,nbr_loan_with_downpayment,avg_percentage_downpayment,nbr_loan_rejection_HC,nbr_loan_rejection_LIMIT,nbr_loan_rejection_SCO,nbr_loan_cross_sell,nbr_loan_walkin,nbr_loan_channel_cc_office,nbr_loan_channel_cntry_wide,nbr_loan_channel_stone_regional,nbr_loan_high_yeild,nbr_loan_meddle_yeild,nbr_loan_low_yeild,nbr_loan_POS_with_interset,nbr_loan_POS_without_interset,NFLAG_INSURED_ON_APPROVAL,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD_POS,SK_DPD_DEF_POS,NBR_OF_DPD,NBR_OF_DPD_DEF,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF,cnt_on_time_payment,cnt_on_delay_payment,cnt_partial_payment,cnt_full_payment,AMT_ANNUITY_LIVE,AMT_APPLICATION_LIVE,AMT_CREDIT_LIVE,AMT_GOODS_PRICE_LIVE,AMT_BALANCE_LIVE,AMT_CREDIT_LIMIT_ACTUAL_LIVE,AMT_DRAWINGS_ATM_CURRENT_LIVE,AMT_DRAWINGS_CURRENT_LIVE,AMT_DRAWINGS_OTHER_CURRENT_LIVE,AMT_DRAWINGS_POS_CURRENT_LIVE,AMT_INST_MIN_REGULARITY_LIVE,AMT_RECEIVABLE_PRINCIPAL_LIVE,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,AVG_INSTALLMENT_AMOUNT
0,100002,1,1,1,0,0,1,0,1,1,0,NaN,0,0,0,0,0,0,0,1,0,0,1,1,0,0.0,24.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,19.0,9251.775,179055.00,179055.00,179055.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11559.247105
1,100003,0,3,3,0,1,2,0,1,3,1,0.100061,0,0,0,1,0,1,1,1,2,0,1,2,0,2.0,25.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,25.0,56553.990,435436.50,484191.00,435436.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78558.479286
2,100004,0,1,1,0,0,1,0,0,1,1,0.212008,0,0,0,0,0,0,0,1,1,0,0,0,1,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,5357.250,24282.00,20106.00,24282.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7096.155000
3,100006,0,9,5,4,5,2,2,2,9,2,0.163412,0,1,0,4,0,7,1,1,1,2,2,2,0,0.0,18.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,16.0,23651.175,272203.26,291695.50,408304.89,0.0,270000.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,270000.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,241944.225000
4,100007,0,6,6,0,4,2,0,2,6,2,0.159516,0,0,0,3,1,1,3,1,3,3,0,2,0,3.0,75.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,16.0,0.0,63.0,12278.805,150530.25,166638.75,150530.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12123.039609

In [24]:
application.shape

(307511, 119)

In [25]:
application.to_csv("application_data.csv", index= False)

In [26]:
Behavioural_Modelling_Data.to_csv("Behavioural_Modelling_Data.csv", index= False)

In [27]:
credit_Bureau_Modelling_Data.to_csv("credit_Bureau_Modelling_Data.csv", index= False)