In [1]:
# import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

pd.set_option("display.max_columns", 999)
pd.get_option("display.max_columns")

pd.set_option("display.max_rows", 999)
pd.get_option("display.max_rows")

999

In [2]:
#Loan installment information
credit_card_balance = pd.read_csv('credit_card_balance.csv')

In [3]:
credit_card_balance.shape

(3840312, 23)

In [4]:
credit_card_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [5]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [6]:
# For single Credit Card
credit_card_balance[credit_card_balance["SK_ID_PREV"] ==2562384].sort_values("MONTHS_BALANCE").head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1811769,2562384,378907,-48,69186.690,270000,67500.0,67500.0,0.0,0.0,NaN,0.0,0.0,67500.000,67841.190,67841.190,1.0,1,0.0,0.0,NaN,Active,0,0
2584127,2562384,378907,-47,62727.075,270000,0.0,0.0,0.0,0.0,3498.975,4500.0,4500.0,60979.410,63246.825,63246.825,0.0,0,0.0,0.0,1.0,Active,0,0
3284876,2562384,378907,-46,62577.900,270000,0.0,0.0,0.0,0.0,3399.795,3600.0,3600.0,60796.035,63082.080,63082.080,0.0,0,0.0,0.0,2.0,Active,0,0
2653597,2562384,378907,-45,61484.400,270000,0.0,0.0,0.0,0.0,3346.695,3600.0,3600.0,59734.170,61980.255,61980.255,0.0,0,0.0,0.0,3.0,Active,0,0
1039133,2562384,378907,-44,60736.680,270000,0.0,0.0,0.0,0.0,3291.390,3375.0,3375.0,59078.160,61224.345,61224.345,0.0,0,0.0,0.0,4.0,Active,0,0

In [7]:
def missing(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing(credit_card_balance)

                             Total    Percent
AMT_PAYMENT_CURRENT         767988  19.998063
AMT_DRAWINGS_OTHER_CURRENT  749816  19.524872
CNT_DRAWINGS_POS_CURRENT    749816  19.524872
CNT_DRAWINGS_OTHER_CURRENT  749816  19.524872
CNT_DRAWINGS_ATM_CURRENT    749816  19.524872
AMT_DRAWINGS_ATM_CURRENT    749816  19.524872
AMT_DRAWINGS_POS_CURRENT    749816  19.524872
CNT_INSTALMENT_MATURE_CUM   305236   7.948208
AMT_INST_MIN_REGULARITY     305236   7.948208
SK_DPD_DEF                       0   0.000000
SK_ID_CURR                       0   0.000000
MONTHS_BALANCE                   0   0.000000
AMT_BALANCE                      0   0.000000
AMT_CREDIT_LIMIT_ACTUAL          0   0.000000
AMT_DRAWINGS_CURRENT             0   0.000000
AMT_PAYMENT_TOTAL_CURRENT        0   0.000000
SK_DPD                           0   0.000000
AMT_RECEIVABLE_PRINCIPAL         0   0.000000
AMT_RECIVABLE                    0   0.000000
AMT_TOTAL_RECEIVABLE             0   0.000000
CNT_DRAWINGS_CURRENT             0   0.000000
NAME_CONTRACT_STATUS             0   0.000000
SK_ID_PREV                       0   0.000000

In [8]:
credit_card_balance[credit_card_balance["SK_ID_PREV"] == 1000030].sort_values("MONTHS_BALANCE")

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1884819,1000030,361282,-8,0.000,45000,NaN,0.000,NaN,NaN,0.00,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
952884,1000030,361282,-7,15583.635,45000,4500.0,31105.755,0.0,26605.755,0.00,16067.250,16067.250,15130.755,15138.135,15138.135,1.0,14,0.0,13.0,0.0,Active,0,0
2192311,1000030,361282,-6,33784.740,45000,0.0,20212.650,0.0,20212.650,0.00,2567.655,317.655,33725.745,33784.740,33784.740,0.0,8,0.0,8.0,0.0,Active,0,0
2204494,1000030,361282,-5,36885.285,45000,0.0,6368.850,0.0,6368.850,2250.00,5022.765,2772.765,36499.770,36885.285,36885.285,0.0,3,0.0,3.0,1.0,Active,0,0
1720546,1000030,361282,-4,59188.050,135000,0.0,25312.050,0.0,25312.050,2250.00,2371.815,121.815,58778.280,59188.050,59188.050,0.0,7,0.0,7.0,2.0,Active,0,0
866526,1000030,361282,-3,100264.455,112500,0.0,46660.500,0.0,46660.500,2250.00,4849.650,322.380,99775.260,100264.455,100264.455,0.0,4,0.0,4.0,3.0,Active,0,0
1597893,1000030,361282,-2,99195.075,112500,0.0,1849.050,0.0,1849.050,4527.27,6442.695,1094.175,98019.090,99195.075,99195.075,0.0,2,0.0,2.0,4.0,Active,0,0
1150224,1000030,361282,-1,103027.275,112500,0.0,6550.650,0.0,6550.650,5348.52,5998.590,567.540,101866.725,103027.275,103027.275,0.0,3,0.0,3.0,5.0,Active,0,0

In [10]:
def get_grouped_data(credit_data):
    # latest_data
    latest_month = max(credit_data["MONTHS_BALANCE"])
    credit_latest_amt_balance = credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_BALANCE"]
    credit_latest_min_regularity = credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_INST_MIN_REGULARITY"]
    credit_latest_payment_current = credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_PAYMENT_CURRENT"]
    credit_latest_status = credit_data[credit_data.MONTHS_BALANCE == latest_month]["NAME_CONTRACT_STATUS"]
    credit_latest_total_withdrawl = credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_DRAWINGS_ATM_CURRENT"]+ \
                              credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_DRAWINGS_CURRENT"] + \
                              credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_DRAWINGS_OTHER_CURRENT"]+ \
                              credit_data[credit_data.MONTHS_BALANCE == latest_month]["AMT_DRAWINGS_POS_CURRENT"]
    
    #

In [22]:
credit_card_balance_latest_month = credit_card_balance[["SK_ID_PREV", "MONTHS_BALANCE"]].groupby("SK_ID_PREV").max().reset_index()

In [23]:
credit_card_balance_latest_month.head()

   SK_ID_PREV  MONTHS_BALANCE
0     1000018              -2
1     1000030              -1
2     1000031              -1
3     1000035              -2
4     1000077              -2

In [25]:
latest_credit_data = pd.merge(credit_card_balance,credit_card_balance_latest_month, left_on = ["SK_ID_PREV", "MONTHS_BALANCE"], right_on= ["SK_ID_PREV", "MONTHS_BALANCE"] )

In [44]:
latest_credit_data.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.00,2250.000,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
1,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.89,27000.000,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
2,2740914,340339,-1,131669.145,225000,10800.0,10800.0,0.0,0.0,6000.48,6322.500,6322.5,121430.700,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0
3,1864742,303581,-1,0.000,45000,0.0,0.0,0.0,0.0,0.00,2.295,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Active,0,0
4,2037377,289902,-1,131294.340,135000,0.0,0.0,0.0,0.0,6774.66,6975.000,6975.0,128518.020,131294.340,131294.340,0.0,0,0.0,0.0,11.0,Active,0,0

In [29]:
credit_card_balance["SK_ID_PREV"].nunique()

104307

In [30]:
credit_card_balance_avg_data = credit_card_balance.groupby("SK_ID_PREV").mean().reset_index()

In [34]:
credit_card_balance_avg_data = credit_card_balance_avg_data[["SK_ID_PREV", "SK_ID_CURR", "AMT_BALANCE", "AMT_CREDIT_LIMIT_ACTUAL", "AMT_DRAWINGS_ATM_CURRENT", "AMT_DRAWINGS_CURRENT", "AMT_DRAWINGS_OTHER_CURRENT", "AMT_DRAWINGS_POS_CURRENT" ,"AMT_INST_MIN_REGULARITY", "AMT_PAYMENT_CURRENT", "AMT_PAYMENT_TOTAL_CURRENT", "AMT_RECEIVABLE_PRINCIPAL", "AMT_RECIVABLE" ]]

In [37]:
credit_card_balance_avg_data.columns = ["SK_ID_PREV", "SK_ID_CURR", "AVG_AMT_BALANCE", "AVG_AMT_CREDIT_LIMIT_ACTUAL", "AVG_AMT_DRAWINGS_ATM_CURRENT", "AVG_AMT_DRAWINGS_CURRENT", "AVG_AMT_DRAWINGS_OTHER_CURRENT", "AVG_AMT_DRAWINGS_POS_CURRENT" ,"AVG_AMT_INST_MIN_REGULARITY", "AVG_AMT_PAYMENT_CURRENT", "AVG_AMT_PAYMENT_TOTAL_CURRENT", "AVG_AMT_RECEIVABLE_PRINCIPAL", "AVG_AMT_RECIVABLE" ]

In [39]:
credit_card_balance_avg_data.head()

,SK_ID_PREV,SK_ID_CURR,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE
0,1000018,394447.0,74946.285000,81000.000000,5400.000000,29478.996000,0.0,24078.996000,2594.088000,5541.750000,5541.750000,72298.197000,73602.585000
1,1000030,361282.0,55991.064375,81562.500000,642.857143,17257.438125,0.0,19079.929286,2078.223750,6188.631429,2657.947500,55474.453125,55935.376875
2,1000031,131335.0,52394.439375,149625.000000,12115.384615,28959.615000,0.0,23527.218462,2675.300625,29543.257500,22157.443125,51402.878438,52099.970625
3,1000035,436351.0,0.000000,225000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000
4,1000077,181153.0,0.000000,94090.909091,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000

In [40]:
# SUM of count
credit_card_balance_sum_data = credit_card_balance.groupby("SK_ID_PREV").sum().reset_index()

In [45]:
credit_card_balance_sum_data = credit_card_balance_sum_data[['SK_ID_PREV', 'SK_ID_CURR','CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
        'SK_DPD', 'SK_DPD_DEF']]

In [47]:
credit_card_balance_sum_data.columns = ['SK_ID_PREV', 'SK_ID_CURR','TOTAL_DRAWINGS_ATM_CURRENT', 'TOTAL_DRAWINGS_CURRENT',
       'TOTAL_DRAWINGS_OTHER_CURRENT', 'TOTAL_DRAWINGS_POS_CURRENT',
        'TOTAL_SK_DPD', 'TOTAL_DPD_DEF']

In [61]:
credit_card_balance_sum_data.head()

,SK_ID_PREV,SK_ID_CURR,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF
0,1000018,1972235,6.0,44,0.0,38.0,0,0
1,1000030,2890256,1.0,41,0.0,40.0,0,0
2,1000031,2101360,4.0,21,0.0,17.0,0,0
3,1000035,2181755,0.0,0,0.0,0.0,0,0
4,1000077,1992683,0.0,0,0.0,0.0,0,0

In [49]:
latest_avg_merge = pd.merge(latest_credit_data,credit_card_balance_avg_data, left_on= ["SK_ID_PREV", "SK_ID_CURR"], right_on = ["SK_ID_PREV", "SK_ID_CURR"] )

In [51]:
latest_avg_merge.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE
0,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.00,2250.000,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0,32895.901875,63750.000000,3060.937500,3732.434063,0.0,671.496562,2150.343750,5089.363125,5061.56250,31287.566719,32925.555938
1,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.89,27000.000,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0,194543.745469,227812.500000,7954.687500,14296.806094,0.0,6342.118594,10112.539688,16426.810781,16404.37500,188557.097344,194525.204062
2,2740914,340339,-1,131669.145,225000,10800.0,10800.0,0.0,0.0,6000.48,6322.500,6322.5,121430.700,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0,82206.657000,110250.000000,9675.000000,12554.964000,0.0,2879.964000,3271.644000,6846.000000,3465.58950,76181.206500,79601.197500
3,1864742,303581,-1,0.000,45000,0.0,0.0,0.0,0.0,0.00,2.295,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Active,0,0,31346.375806,63629.032258,4037.637363,3950.806452,0.0,0.000000,2085.450500,5525.691774,5389.83871,29647.157903,31244.084516
4,2037377,289902,-1,131294.340,135000,0.0,0.0,0.0,0.0,6774.66,6975.000,6975.0,128518.020,131294.340,131294.340,0.0,0,0.0,0.0,11.0,Active,0,0,109440.476250,112500.000000,14550.000000,15071.250000,0.0,521.250000,5334.101250,10729.022727,9834.93750,101104.068750,106742.231250

In [58]:
latest_avg_sum_merge = pd.merge(latest_avg_merge,credit_card_balance_sum_data, left_on= ["SK_ID_PREV"], right_on = ["SK_ID_PREV"] )

In [59]:
latest_avg_sum_merge.shape

(104307, 41)

In [62]:
latest_avg_sum_merge = latest_avg_sum_merge.drop(["SK_ID_CURR_y"], axis =1)

In [67]:
latest_avg_sum_merge.head()

,SK_ID_PREV,SK_ID_CURR_x,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF
0,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.00,2250.000,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0,32895.901875,63750.000000,3060.937500,3732.434063,0.0,671.496562,2150.343750,5089.363125,5061.56250,31287.566719,32925.555938,31.0,42,0.0,11.0,1,1
1,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.89,27000.000,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0,194543.745469,227812.500000,7954.687500,14296.806094,0.0,6342.118594,10112.539688,16426.810781,16404.37500,188557.097344,194525.204062,40.0,144,0.0,104.0,1,1
2,2740914,340339,-1,131669.145,225000,10800.0,10800.0,0.0,0.0,6000.48,6322.500,6322.5,121430.700,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0,82206.657000,110250.000000,9675.000000,12554.964000,0.0,2879.964000,3271.644000,6846.000000,3465.58950,76181.206500,79601.197500,14.0,84,0.0,70.0,0,0
3,1864742,303581,-1,0.000,45000,0.0,0.0,0.0,0.0,0.00,2.295,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Active,0,0,31346.375806,63629.032258,4037.637363,3950.806452,0.0,0.000000,2085.450500,5525.691774,5389.83871,29647.157903,31244.084516,35.0,35,0.0,0.0,4,4
4,2037377,289902,-1,131294.340,135000,0.0,0.0,0.0,0.0,6774.66,6975.000,6975.0,128518.020,131294.340,131294.340,0.0,0,0.0,0.0,11.0,Active,0,0,109440.476250,112500.000000,14550.000000,15071.250000,0.0,521.250000,5334.101250,10729.022727,9834.93750,101104.068750,106742.231250,41.0,43,0.0,2.0,0,0

In [73]:
latest_avg_sum_merge[latest_avg_sum_merge["SK_ID_PREV"] == 1891521].sort_values("MONTHS_BALANCE", ascending= False)

,SK_ID_PREV,SK_ID_CURR_x,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF
1,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.89,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0,194543.745469,227812.5,7954.6875,14296.806094,0.0,6342.118594,10112.539688,16426.810781,16404.375,188557.097344,194525.204062,40.0,144,0.0,104.0,1,1

In [74]:
credit_card_balance[credit_card_balance["SK_ID_PREV"] == 1891521].sort_values("MONTHS_BALANCE", ascending= False).head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
1701346,1891521,126868,-2,458497.395,450000,0.0,13113.405,0.0,13113.405,23066.505,27000.0,27000.0,447443.910,458497.395,458497.395,0.0,2,0.0,2.0,100.0,Active,0,0
728020,1891521,126868,-3,461330.505,450000,18000.0,18000.000,0.0,0.000,22894.830,27000.0,27000.0,448896.285,461330.505,461330.505,1.0,1,0.0,0.0,99.0,Active,0,0
2611945,1891521,126868,-4,457896.285,450000,0.0,13675.500,0.0,13675.500,22997.970,27000.0,27000.0,446634.630,457896.285,457896.285,0.0,4,0.0,4.0,98.0,Active,0,0
56769,1891521,126868,-5,459959.130,450000,0.0,17469.000,0.0,17469.000,22899.645,27000.0,27000.0,448461.720,459959.130,459959.130,0.0,1,0.0,1.0,97.0,Active,0,0

In [77]:
credit_card_balance[credit_card_balance["SK_ID_PREV"] == 1891521]["AMT_DRAWINGS_ATM_CURRENT"].mean()

7954.6875

In [78]:
latest_avg_sum_merge.to_csv("latest_credit_card_balance.csv", index= False)

In [2]:
latest_credit_card_balance = pd.read_csv('latest_credit_card_balance.csv')

In [3]:
latest_credit_card_balance.shape

(104307, 40)

In [4]:
def missing(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing(latest_credit_card_balance)

                                Total    Percent
AVG_AMT_PAYMENT_CURRENT         31862  30.546368
AMT_PAYMENT_CURRENT             31862  30.546368
AVG_AMT_DRAWINGS_POS_CURRENT    31794  30.481176
CNT_DRAWINGS_POS_CURRENT        31794  30.481176
CNT_DRAWINGS_ATM_CURRENT        31794  30.481176
AVG_AMT_DRAWINGS_ATM_CURRENT    31794  30.481176
AVG_AMT_DRAWINGS_OTHER_CURRENT  31794  30.481176
AMT_DRAWINGS_POS_CURRENT        31794  30.481176
CNT_DRAWINGS_OTHER_CURRENT      31794  30.481176
AMT_DRAWINGS_OTHER_CURRENT      31794  30.481176
AMT_DRAWINGS_ATM_CURRENT        31794  30.481176
AMT_DRAWINGS_CURRENT                0   0.000000
CNT_DRAWINGS_CURRENT                0   0.000000
AMT_INST_MIN_REGULARITY             0   0.000000
AMT_CREDIT_LIMIT_ACTUAL             0   0.000000
AMT_BALANCE                         0   0.000000
AMT_PAYMENT_TOTAL_CURRENT           0   0.000000
AMT_RECEIVABLE_PRINCIPAL            0   0.000000
AMT_RECIVABLE                       0   0.000000
AMT_TOTAL_RECEIVABLE                0   0.000000
MONTHS_BALANCE                      0   0.000000
SK_ID_CURR_x                        0   0.000000
TOTAL_DPD_DEF                       0   0.000000
CNT_INSTALMENT_MATURE_CUM           0   0.000000
TOTAL_SK_DPD                        0   0.000000
NAME_CONTRACT_STATUS                0   0.000000
SK_DPD                              0   0.000000
SK_DPD_DEF                          0   0.000000
AVG_AMT_BALANCE                     0   0.000000
AVG_AMT_CREDIT_LIMIT_ACTUAL         0   0.000000
AVG_AMT_DRAWINGS_CURRENT            0   0.000000
AVG_AMT_INST_MIN_REGULARITY         0   0.000000
AVG_AMT_PAYMENT_TOTAL_CURRENT       0   0.000000
AVG_AMT_RECEIVABLE_PRINCIPAL        0   0.000000
AVG_AMT_RECIVABLE                   0   0.000000
TOTAL_DRAWINGS_ATM_CURRENT          0   0.000000
TOTAL_DRAWINGS_CURRENT              0   0.000000
TOTAL_DRAWINGS_OTHER_CURRENT        0   0.000000
TOTAL_DRAWINGS_POS_CURRENT          0   0.000000
SK_ID_PREV                          0   0.000000

In [14]:
latest_credit_card_balance = latest_credit_card_balance.rename(columns={"SK_ID_CURR_x":"SK_ID_CURR"})
latest_credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,AVG_AMT_BALANCE,AVG_AMT_CREDIT_LIMIT_ACTUAL,AVG_AMT_DRAWINGS_ATM_CURRENT,AVG_AMT_DRAWINGS_CURRENT,AVG_AMT_DRAWINGS_OTHER_CURRENT,AVG_AMT_DRAWINGS_POS_CURRENT,AVG_AMT_INST_MIN_REGULARITY,AVG_AMT_PAYMENT_CURRENT,AVG_AMT_PAYMENT_TOTAL_CURRENT,AVG_AMT_RECEIVABLE_PRINCIPAL,AVG_AMT_RECIVABLE,TOTAL_DRAWINGS_ATM_CURRENT,TOTAL_DRAWINGS_CURRENT,TOTAL_DRAWINGS_OTHER_CURRENT,TOTAL_DRAWINGS_POS_CURRENT,TOTAL_SK_DPD,TOTAL_DPD_DEF
0,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.00,2250.000,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0,32895.901875,63750.000000,3060.937500,3732.434062,0.0,671.496562,2150.343750,5089.363125,5061.56250,31287.566719,32925.555938,31.0,42,0.0,11.0,1,1
1,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.89,27000.000,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0,194543.745469,227812.500000,7954.687500,14296.806094,0.0,6342.118594,10112.539688,16426.810781,16404.37500,188557.097344,194525.204062,40.0,144,0.0,104.0,1,1
2,2740914,340339,-1,131669.145,225000,10800.0,10800.0,0.0,0.0,6000.48,6322.500,6322.5,121430.700,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0,82206.657000,110250.000000,9675.000000,12554.964000,0.0,2879.964000,3271.644000,6846.000000,3465.58950,76181.206500,79601.197500,14.0,84,0.0,70.0,0,0
3,1864742,303581,-1,0.000,45000,0.0,0.0,0.0,0.0,0.00,2.295,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Active,0,0,31346.375806,63629.032258,4037.637363,3950.806452,0.0,0.000000,2085.450500,5525.691774,5389.83871,29647.157903,31244.084516,35.0,35,0.0,0.0,4,4
4,2037377,289902,-1,131294.340,135000,0.0,0.0,0.0,0.0,6774.66,6975.000,6975.0,128518.020,131294.340,131294.340,0.0,0,0.0,0.0,11.0,Active,0,0,109440.476250,112500.000000,14550.000000,15071.250000,0.0,521.250000,5334.101250,10729.022727,9834.93750,101104.068750,106742.231250,41.0,43,0.0,2.0,0,0

In [15]:
latest_credit_card_balance=latest_credit_card_balance.fillna(0)

In [16]:
latest_credit_card_balance.to_csv("latest_credit_card_balance.csv")

In [13]:
#latest_credit_data
#credit_card_balance_avg_data
#credit_card_balance_sum_data